
@{
    ViewData["Title"] = "PostulacionEnviada";
}

<div class="container text-center my-5">
    <div class="p-5 mb-4 bg-light rounded-3">
        <h1 class="display-4">¡Gracias por postular!</h1>
        <p class="fs-4">
            Hemos recibido tus datos correctamente.
        </p>
        <hr class="my-4">
        <p>
            El equipo de administradores revisará tu solicitud y se pondrá en contacto contigo
            al correo o teléfono que nos proporcionaste.
        </p>
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Volver al Inicio</a>
    </div>
</div>

